<h1>Preguntas</h1>

<%= 
  link_to_if(@current_user.nil?, "Hacer pregunta", new_user_session_path) do
    link_to("Hacer pregunta", new_question_path)
  end
%>


<% @questions.each do |question| %>
  <div>
    <h2>Votos</h2>
    <p>0</p>
  </div>
  <div>
    <h2>Respuestas</h2>
    <p>3</p>
  </div>
  <div>
    <h1><%= link_to question.name, question_path(question) %></h1>
    <p>por: alguien@cualquiera.com</p>
    <p><%= question.created_at %></p>
  </div>  
<% end %>
