.btn {
  margin-bottom: 15px;
}

tbody {
  td:last-child {
    a {
      color: #a94442;
      font-weight: 500;
    }

    a:hover {
      text-decoration: none;
      color: #dc1f1b;
    }
  }
}

.vote-up {
  color: #337ab7;
}

.vote-down {
  color: green;
}

.username {
  color: #337ab7;
}